:root{
    --text-color:rgb(29, 29, 29);
    --background-color:rgb(243, 243, 243);
    --accent-color:rgb(169, 34, 34);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family:'Apple SD Gothic Neo';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
/*navbar*/
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.navbar_logo{
    width: 150px;
    height: 28px;
    background: url('../images/logo.png') no-repeat 0 0;
    background-size: contain;
    margin-left: 16px;
}
.navbar_menu{
    display: flex;
    padding-left: 0px;
    font-size: 15px;
}
.navbar_menu li{
    padding: 8px 30px;
}
.navbar_menu li:hover{
    background-color: var(--background-color);
    border-radius: 4px;
}
.navbar_toggleBtn{
    position: absolute;
    top: 14px;
    right:16px;
    display: none;
}
/* picture */
.picture{
    margin-top: 49px;
    width: 100%;
    height: 14rem;
    background:url('../images/picture5.jpg') no-repeat 0 0;
    background-size: cover;
}
.index_list{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 16px;
}
.index_list li{
    padding-bottom: 2px;
}
.index_list li.click{
    border-bottom: 2px solid #C0443E;
}
/* intro */
.intro{
    padding: 0 20px;
}
.intro{
    margin-top: 0px;
}
.intro p:first-child{
    margin-top: 6.5vh;
}
.intro h4:nth-of-type(2){
    color: #C0443E;
}
.show_images{
    box-shadow: 0px 0px 30px rgb(90, 90, 90);
}
.show_images.m1{
    width: 70%;
}
.show_images.m2{
    width: 45%;
}
.show_images.m3{
    width: 75%; 
}
/*banner*/
.banner{
    height: 17.5rem;
    margin-top: 6rem;
    background: url('../images/history.jpg')no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h4{
    text-shadow: 2px 2px 2px rgb(66, 66, 66);
}
.banner h4 a{
    color: white;
}
/*room_type*/
.building{
    margin: 0 16px;
}
.room_type{
    position: relative;
    padding: 1.5rem 0 3rem;
    background-color: #fffdf0;
}
.room_type ul{
    margin: 3rem 0 1.5rem;
    list-style: none;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.room_type ul li{
    width: 20%;
    text-align: center;
    border-right: 1px solid #C0443E;
}
.room_type li:nth-of-type(4){
    border-right: 0px;
}
.room_type li a{
    font-weight: bold;
    font-size: 0.8rem;
}
.room_contents{
    padding: 0 16px;
    position: relative;
    line-height: 1.5rem;
}
.room_contents h5 a{
    color: #C0443E;
}
.room_contents img{
    width: 100%;
    height: 19rem;
}
.room_contents h4:nth-of-type(1){
    float: left;
    width: 50%;
}
.view{
    float: right;
    width: 50%;
    text-align: right;
}
.view a{
    color: #C0443E;
}
.room_contents p{
    clear: both;
    padding-top: 1.5rem;
}
.delux, .suite, .family, .presidential{
    display: none;
}
.visible{
    display: block;
}
/*builind*/
.fac_box,.din_box{
    position: relative;
}
.facility{
    padding-top: 6rem;
}
.container{
    width: 300%;
    height: 19rem;
    transition: transform 1s;
}
.inner{
    width: 33.3%;
    height:19rem;
    float: left;
}
.inner img{
    width: 100%;
    height: 19rem;
}
.container2{
    width: 400%;
    height: 19rem;
    transition: transform 1s;
}
.inner2{
    width: 25%;
    height:19rem;
    float: left;
}
.inner2 img{
    width: 100%;
    height: 19rem;
}
.dining{
    margin-top: 3.5rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid #b3b3b3;
}
.buildInfo{
    text-align: center;
}
.BtnArea{
    text-align: center;
}
button{
    cursor: pointer;
}
button{
    margin-top: 1.5rem;
    width: 1.5rem;
    height: 0.25rem;
    margin: 0 0.3rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
/*events*/
.container_event{
    margin: 2rem 0;
    padding: 0 16px;
}
.container_event h3{
    margin-top: 2.5rem;
    text-align: center;
}
.events{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.eachEvent{
    width: 100%;
    height: 22rem;
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.eventImg_1{
    background: url('../images/event1.jpg') no-repeat 0 0;
    background-size: cover;
}
.eventImg_2{
    background: url('../images/event2.jpg') no-repeat 0 0;
    background-size: cover;
}
.eventImg_3{
    background: url('../images/event3.png')no-repeat 0 0;
    background-size: cover;
}
.eachEvent div{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);
}
.eachEvent h5{
    margin-left: 0.6rem;
    color: white;
}
/*footer*/
footer{
    padding: 40px 16px;
    border-top: 1px solid #ccc;
}
footer ul{
    padding: 0;
    display: flex;
}
.footer_info ul li{
    margin-right:1.5rem;
    font-weight: bold;
}
.footer_info ul li a{
    color: #C0443E;
}
select{
    margin-top: 5.5vh;
    width: 277px;
    padding: 0.6rem 0;
    border: 1px solid #999;
}
.footer_end ul{
    display: flex;
    justify-content: space-between;
}
.footer_end ul li a{
    font-size: 0.8rem;
}
/* 폰 가로,세로 */
@media screen and (max-width:767px) {
    .navbar{
        flex-direction:column;
        align-items: flex-start;
        padding: 10px 0px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }   
    .navbar_menu li{
        width: 98%;
        text-align: center;
        padding: 8px 0;
    }
    .navbar_menu li a{
        display: block;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active{
        display: flex;
    }
    .index_list{
        display: none;
    }
    .intro{
        padding: 0 16px;
    }
    .BtnArea{
        position: relative;
        bottom: 2rem;
    }
    .showcase_images{
        width: 100%;
        position: relative;
    }
    .show_images.m1{
        position: absolute;
        z-index: 1;
        top: 22%;
        left: 30%;
    }
    .show_images.m3{
        margin-top: 2rem;
        margin-left: 2.5vw;
    }
}
/* 아이패드 세로 */
@media screen and (min-width:768px){
    .navbar{
        padding: 5px 0;
        position: static;
        max-width: 1398px;
        margin: 0 auto;
    }
    .navbar_menu{
        padding-right: 16px;
    }
    .navbar_menu li{
        margin: 0px 5px;
    }
    .navbar_logo{
        width: 215px;
        height: 40px;
        margin-left: 20px;
    }
    .picture{
        margin-top: 0;
        height: 20rem;
    }
    .index_list{
        border-bottom: 1px solid #b3b3b3;
    }
    .intro{
        height: 30rem;
    }
    .welcome{
        width: 40%;
        height: 100%; 
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .welcome h4:nth-of-type(1){
        margin-top: 8vh;
    }
    .showcase_images{
        width: 58%;
        height: 100%;
        position: relative;
    }
    .show_images.m1{
        width: 52%;
        position: absolute;
        top: 17vh;
        z-index: 1;
    }
    .show_images.m2{
        width: 40%;
        position: absolute;
        bottom: 0;
        left: 12rem;
        z-index: 2;
    }
    .show_images.m3{
        width: 48%;
        position: absolute;
        top: 7vh;
        right: 1rem;
    }
    .intro::after{
        content: "";
        display: block;
        clear: both;
    }
    .room_contents{
        padding: 0 20px;
    }
    .room_type ul{
        justify-content: center;
        margin: 5rem 0 3rem;
    }

    .room_contents img{
        height: 28rem;
    }
    .room_type ul li{
        width: 12%;
    }
    .room_type li a{
        font-size: 1.2rem;
    }
    /*캐로셀*/
    .building{
        margin: 0 20px;
    }
    .facility{
        height: 19rem;
    }
    .fac_box{
        width: 50%;
        height: 19rem;
        float: left;
    }
    .fac_info{
        float: right;
    }
    .facility::after{
        content: "";
        clear: both;
        display: block;
    }
    .dining{
        margin-top: 0;
    }
    .din_box{
        width: 50%;
        float: right;
    }
    .din_info{
        width: 50%;
        float: left;
    }
    .dining::after{
        content: "";
        clear: both;
        display: block;
    }
    .buildInfo{
        width:50%;
        height: 19rem;
        text-align: left;
        padding-left: 2rem;
        box-sizing: border-box;
    }
    .buildInfo h4{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .buildInfo p{
        margin-left: 1em;
    }
    .building p::before{
        content: url('../images/line.png');
        margin-right: 5%;
        position: relative;
        bottom: 0.2rem;
    }
    .BtnArea{
        position: relative;
        bottom: 2rem;
    }
    .events{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .eachEvent{
        width: 32%;
    }
    .container_event {=
        padding: 0 20px;
        width: auto;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
    .footer_info{
        width: 60%;
    }
    select{
        margin-top: 0;
    }
    .footer_end ul{
        flex-direction: column;
        border-left: 1px solid #000000;
    }
    .footer_end ul li{
        margin: 1rem;
    }
    .footer_end ul li a{
        font-size: 1rem;
    }
}
/*태블릿*/
@media screen and (min-width: 1024px){
    .container,.container2{
        height: 24rem;
    }
    .fac_box{
        height: 24rem;
    }
    .inner,.inner2{
        height: 24rem;
    }
    .inner img, .inner2 img {
        height: 24rem;
    }
    .buildInfo{
        height: 24rem;
    }
    button{
        width: 2rem;
        height: 0.4rem;
}
/* 아이패드프로 가로~ */
@media screen and (min-width:1200px){
    .intro{
        height: 35rem;
    }
    .picture{
        height: 32rem;
    }
    .room_type ul li {
        width: 7.5%;
    }
    .room_contents img {
        height: 37rem;
    }
    .building{
        max-width: 1398px;
    }
    .building li {
        height: 25rem;
    }
    .building li img {
        height: 25rem;
    }
    .buildInfo h4 {
        margin: 5rem 0;
        font-size: 1.2rem;
    }
    .fac_box {
        height: 26rem;
    }
    .container, .container2{
        height: 26rem;
    }
    .inner,.inner2{
        height: 26rem;
    }
    .inner img, .inner2 img {
        height: 26rem;
    }
    .buildInfo{
        height: 26rem;
    }
    .dining{
        border: 0px;
    }
    .intro{
        max-width: 1398px;
        margin: 0 auto;
    }
    .show_images.m1{
        width: 48%;
    }
    .banner h4{
        max-width: 1398px;
    }
    .room_contents{
        max-width: 1398px;
        margin: 0 auto;
    }
    .room_contents img{
        height: 40rem;
    }
    .view{
        width: 10%;
        text-align: center;
        background-color: #C0443E;
        padding: 10px;
    }
    .view a{
        color: white;
    }
    .room_contents p {
        clear: both;
        padding-top: 0rem;
    }
    .events{
        max-width:1398px;
        margin:0 auto;
    }
    footer{
        padding: 40px 20px;
    }
}
@media screen and (min-width:1398px){
    .building{
        max-width: 1398px;
        margin-left: auto;
        margin-right: auto;
        height: 26rem;
    }
    .picture{
        height: 60vh;
    }
    .index_list{
        max-width: 1398px;
        margin: auto;
        justify-content: space-between;
        border: 0px;
    }
    #index_border{
        border-bottom: 1px solid #b3b3b3;
    }
    #event_border{
        border-bottom: 1px solid #b3b3b3;
        max-width: 1398px;
        margin: 0 auto;
    }
    .eachEvent{
        height: 31rem;
    }
    #footer_border{
        border-top: 1px solid #b3b3b3;
        margin: 5rem 0 2rem;
    }
    footer{
        border: 0;
        padding: 40px 0;
        max-width: 1398px;
        margin: 0 auto;
    }
}